---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="LKG Halle">
  <main>
    <Hero />
    <section>FEATURES</section>
  </main>
</BaseLayout>
