---
import "./src/styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="LKG Halle">
  <main>
    <Hero />
    <section class="features">FEATURES</section>
  </main>
</BaseLayout>
