---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/HeroEvents.astro";
import EventCard from "../components/EventCard.astro";
import heroImg from "../assets/miteinander.png";
---

<BaseLayout title="Miteinander — LKG Halle">
  <main>
    <Hero title="Miteinander" backgroundImage={heroImg} />

    <section class="md:mx-[10vw] py-2">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-6">
        <EventCard
          title="Stammtisch"
          time="Jeder 1. Freitag im Monat um 18:30 Uhr"
          location="Restaurant 'My Sen' (Beesener Str. 38)"
          contact="Friedbert (fsimon@lkg-halle.de)"
          description="Ein Abend ohne feste Agenda soll zum Austauschen, Ermutigen und Bestärken dienen. Deshalb trifft Mann und Frau sich regelmäßig zum Abendbrot und diskutiert alltägliche und tiefergehende Fragen."
        />

        <EventCard
          title="Frauenkreis"
          time="Jeder 1. Mittwoch im Monat um 15:30 Uhr"
          location="Ludwig-Stur-Str. 5 (Erdgeschoss)"
          description="Gemeinsam singen und basteln, Sorgen und Probleme des Alltags teilen und auf Gottes Wort hören – das sind wesentliche Bestandteile des Frauenkreises.<br><br>Hier treffen sich einmal im Monat Frauen aller Altersstufen und genießen dazu gerne auch ein Stück Kuchen und eine Tasse Kaffee."
        />

        <EventCard
          title="MediMuck"
          time="Verschiedene Angebote mehrmals die Woche (siehe Website: [medimuck.de](https://www.medimuck.de/))"
          contact="Annett (0345 / 97720825)"
          description={`Im nahegelegenen Medizinerviertel wird ein Café von der Gemeinde geführt. Die Vision dahinter ist, Erwachsenen und vor allem Kindern aus dieser Gegend einen offenen Treffpunkt zu bieten und Raum zur Entfaltung zu geben.<br><br>Es gibt verschiedene kostenlose Angebote, wie Fitness, kreativen Bastelaktionen und Spieleabende. Komm gern auf einen Kaffee vorbei und wenn du diese Vision teilst, freuen wir uns über Mitarbeiter und Spender.`}
        />
      </div>
    </section>
  </main>
</BaseLayout>
