---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/HeroEvents.astro";
import EventCard from "../components/EventCard.astro";
import heroImg from "../assets/musik.jpg";
---

<BaseLayout title="Musik — LKG Halle">
  <main>
    <Hero title="Musik" backgroundImage={heroImg} />

    <section class="md:mx-[10vw] py-2">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-6">
        <EventCard
          title="Posaunenchor"
          time="Donnerstags 19:30 Uhr"
          location="Ludwig-Stur-Str. 5 (Erdgeschoss)"
          contact="info@lkg-halle.de"
          description="Unser Posaunenchor probt regelmäßig und bereichert besondere Gottesdienste und Veranstaltungen mit mehrstimmigen Blechbläserliedern und geistlichen Gesängen.<br><br>Wir spielen sowohl traditionelle Choräle als auch moderne geistliche Musik. Neue Bläserinnen und Bläser sind herzlich willkommen!"
        />

        <EventCard
          title="Musik im Gottesdienst"
          time="Sonntags 10 Uhr"
          location="Ludwig-Stur-Str. 5 (großer Saal)"
          contact="info@lkg-halle.de"
          description="Unser Lobpreisteam gestaltet die musikalische Begleitung unserer Gottesdienste mit verschiedenen Instrumenten wie Klavier, Gitarre, Bass, Schlagzeug, Geige und mehrstimmigem Gesang.<br><br>Durch Lobpreis und Anbetung führen wir die Gemeinde zu Gott und schaffen eine Atmosphäre der Begegnung. Ob Anfänger oder Fortgeschrittener - jeder ist willkommen, der Freude an der Musik hat."
        />
      </div>
    </section>
  </main>
</BaseLayout>
