---
import "../styles/global.css"; // import global styles here because this is the shared base layout
import Logo from "../assets/logo-gvsa.svg";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="lg:mx-[10vw] flex items-center justify-between px-4 py-2 bg-white border-b border-gray-200"
    >
      <a class="flex items-center" href="/">
        <Logo class="w-12 h-12 mr-2" />
        <span class="text-lg font-bold font-serif whitespace-nowrap"
          >Landeskirchliche Gemeinschaft Halle</span
        >
      </a>
      <Navigation />
    </header>

    <!-- todo most pages that use BaseLayout.astro provide content that is wrapped in `main`. 
      This doesn't make much sense because, here the slot is also wrapped in a `main`.
      Can we delete the main in other places while preserving styles? -->
    <main class="mb-10">
      <slot />
    </main>

    <!-- Glow effect: -->
    <!-- https://codersblock.com/blog/creating-glow-effects-with-css/ -->

    <address>
      <iframe
        loading="lazy"
        width="100%"
        height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=11.973949670791628%2C51.48656083080657%2C11.976822316646576%2C51.48823768748756&layer=cyclemap&marker=51.48739926685569%2C11.975385993719101"
      ></iframe>
    </address>

    <footer class="px-[10vw] py-10 bg-stone-800 text-white mt-0">
      <div class="max-w-7xl mx-auto">
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-start gap-10 md:gap-16 mt-8"
        >
          <!-- Mission Statement & Logo -->
          <div
            class="flex-1 flex flex-col items-start mb-8 md:mb-0 min-w-[220px]"
          >
            <Logo class="w-14 h-14 mb-3" />
            <p class="max-w-xs leading-relaxed">
              Wir wollen unseren Nachbarn, Freunden und Familien Jesus
              nahebringen. Dafür schaffen wir Möglichkeiten, dass sie Jesus,
              sich selbst und uns begegnen können.
            </p>
          </div>

          <!-- Links Section -->
          <div class="flex-2 grid grid-cols-1 lg:grid-cols-3 gap-8 w-full">
            <div>
              <h4 class="text-base font-semibold mb-3">Kontakt</h4>
              <div class="text-gray-300">
                Landeskirchliche Gemeinschaft Halle e.V.<br />
                Ludwig-Stur-Str. 5<br />
                06108 Halle (Saale)<br />
                <div class="h-1"></div>
                Vorsitzender: Jörg Hensen<br />
                Tel: 0345 / 97720825<br />
                E-Mail: info@lkg-halle.de
              </div>
            </div>

            <div>
              <h4 class="text-base font-semibold mb-3">Unsere Bereiche</h4>
              <ul class="space-y-2 text-gray-300">
                <li>
                  <a
                    href="/gott-begegnen-anbeten"
                    class="hover:text-white transition"
                    >Gott begegnen & anbeten</a
                  >
                </li>
                <li>
                  <a href="/miteinander" class="hover:text-white transition"
                    >Miteinander</a
                  >
                </li><li>
                  <a href="/musik" class="hover:text-white transition">Musik</a>
                </li><li>
                  <a
                    href="/interner-bereich"
                    class="hover:text-white transition">Interner Bereich</a
                  >
                </li>
              </ul>
            </div>
            <div>
              <h4 class="text-base font-semibold mb-3">Rechtliches</h4>
              <ul class="space-y-2 text-gray-300">
                <li>
                  <a href="/impressum" class="hover:text-white transition"
                    >Impressum</a
                  >
                </li>
                <li>
                  <a href="/datenschutz" class="hover:text-white transition"
                    >Datenschutz</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="mt-10 border-t border-stone-700 pt-4 text-center text-sm text-white"
        >
          © 2025 bis heute — Landeskirchliche Gemeinschaft Halle e.V.
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- todo do we actually need those style declaration? Can we move them to styles/global.css? -->
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-sans);
  }
  @layer base {
    address {
      font-style: normal;
    }
  }
  :root {
    sans--primary-color: rgb(87, 166, 217);
    --secondary-color: rgb(241, 195, 91);
    /* --secondary-color: rgb(142, 68, 173); */
    --text-color: rgb(68, 68, 68);
    --background-color: rgb(236, 240, 241);
    --blue1: rgb(87, 166, 217);
    --blue2: rgb(51, 120, 163);
    --blue3: rgb(120, 169, 180);
    --blue4: rgb(24, 65, 98);
  }

  /* Menu font-size: Between body font sizes and h1 font size -- dont do this: Instead use tailwind's default utility classes
  .fontsize-desktop: 18px;
  .fontsize-mobile: 15px;
  } */
</style>
