---
import "../styles/global.css"; // import global styles here because this is the shared base layout
import Logo from "../assets/logo-gvsa.svg";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="lg:mx-[10vw] flex items-center justify-between px-4 py-2 bg-white border-b border-gray-200"
    >
      <div class="flex items-center">
        <Logo class="w-12 h-12 mr-2" />
        <span class="text-lg font-bold font-serif whitespace-nowrap"
          >Landeskirchliche Gemeinschaft Halle</span
        >
      </div>
      <Navigation />
    </header>

    <!-- MAIN CONTENT -->
    <div class="mb-10">
      <slot />
    </div>
    <!-- MAIN CONTENT ENDE -->

    <address>
      <iframe
        loading="lazy"
        width="100%"
        height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=11.973949670791628%2C51.48656083080657%2C11.976822316646576%2C51.48823768748756&layer=cyclemap&marker=51.48739926685569%2C11.975385993719101"
      ></iframe>
      <div class="px-[10vw] lg:columns-3 py-10 bg-stone-700 text-white">
        <div class="lg:h-72 my-6 lg:my-0 max-w-[320px]">
          <span class="font-bold">Adresse</span><br />
          Landeskirchliche Gemeinschaft Halle e.V.<br />
          Ludwig-Stur-Str. 5<br />
          06108 Halle (Saale)<br />
          0345 / 97720825<br />
          Jörg Hensen<br />
          info@lkg-halle.de
        </div>
        <div class="lg:h-72 my-6 lg:my-0 max-w-[320px]">
          <span class="font-bold">Anfahrt mit dem Auto</span><br />
          Aus Süden vom Riebeckplatz über die Magdeburger Straße<br /><br />
          Aus Norden von der B100 kommend von der Paracelsusstraße rechts abbiegen
          Richtung Steintor.<br /><br />
          Parkplätze findet man im Viertel (Johann-Andreas-Segner-Straße / Luisenstraße)
        </div>
        <div class="lg:h-72 my-6 lg:my-0 max-w-[320px]">
          <span class="font-bold">Anfahrt mit der Straßenbahn</span><br />
          Mit den Linien 1, 2, 16 (aus Richtung Markt) bzw. mit den Linien 5 oder
          12 (aus Richtung Hbf) an der Haltestelle „Am Steintor“ aussteigen, die
          Große Steinstraße entlang der Grünfläche laufen, vor dem Habibi Döner rechts
          in die Ludwig-Stur-Straße biegen.
        </div>
      </div>
    </address>
    <footer class="bg-stone-800 text-stone-500 py-6">FOOTER</footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-sans);
  }
  address {
    font-style: normal;
  }
  :root {
    --primary-color: rgb(87, 166, 217);
    --secondary-color: rgb(241, 195, 91);
    /* --secondary-color: rgb(142, 68, 173); */
    --text-color: rgb(68, 68, 68);
    --background-color: rgb(236, 240, 241);
    --blue1: rgb(87, 166, 217);
    --blue2: rgb(51, 120, 163);
    --blue3: rgb(120, 169, 180);
    --blue4: rgb(24, 65, 98);
  }

  /* Menu font-size: Between body font sizes and h1 font size -- dont do this: Instead use tailwind's default utility classes
  .fontsize-desktop: 18px;
  .fontsize-mobile: 15px;
  } */
</style>
