@import "tailwindcss";

@font-face {
  font-family: "Bitter";
  src: url("/fonts/Bitter-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter";
  src: url("/fonts/Bitter-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 300 800;
  font-style: italic;
  font-display: swap;
}
.font-bitter {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
}
.font-opensans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
